/* ==========================================================================
   APP custom styles. Rafael Aznar.
   ========================================================================== */
body {
    /*gradient background*/
    background: #3496ba;
    background: -moz-radial-gradient(center, ellipse cover, #3496ba 0%, #141a49 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3496ba), color-stop(100%,#141a49));
    background: -webkit-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: -o-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: -ms-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: radial-gradient(ellipse at center, #3496ba 0%,#141a49 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3496ba', endColorstr='#141a49',GradientType=1 );
    color:white;
    font-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
}
#datos{
    color: #006699;
    background-color: #e3ffff;
    border: 2px solid #8ecaff;
    border-radius: 0.4vw;
}
th{
    color: #004e4e;
}
.span7, .span5, .span5>legend{  
    padding: 2vw;
    color: #003f76 !important;
    background-color: #d7ecff;
    border: 2px solid #8ecaff;
    border-radius: 0.4vw;
}


#logo{
    width: 70%;
    height:50%;
    padding: 0 0 2em 0;
    margin: 0;
}
#logo2{
    width: 60%;
    height:50%;
    padding: 0 0 2em 0;
    margin: 0;
}
.btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0x;
}
.btn-toolbar {
    margin-top: 5px;
    margin-bottom: 5px;
}
.table-condensed th, .table-condensed td {
    padding-bottom: 0px;
    padding-top: 0px;
}
.table th, .table td {
    vertical-align:middle;
}
.table th{
    background-color: white;
}
.well{
    background-color: #FFFFFF;
}
#loginForm{
    margin:0 auto;
    width: 50%;
}
#formulario{
    background-color: #b1eeff;
    border: 1px solid #00cccc;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    background-color: #4ad8ff;
}
.nav nav-justified navbar-fixed-top >li{
    color: #4ad8ff;
}
.navbar-inverse .navbar-inner {
    background-color: #0f44a3;
    opacity: 0.8;
    background-image: none;
    border-color: #b1eeff;
    border-bottom-width: 3px;
}
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
    background-color: #4ad8ff;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    text-shadow: none;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav>li>a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav>li>a:focus {
    color: #4ad8ff;

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background-color: grey;
}    
.caret, .caret:hover {
    color: #4ad8ff;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: grey;
    background-image: none;
}     
.dropdown-menu>li>a:hover {
    background-color: grey;
    background-image: none;
}
.navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: #4ad8ff
}
hr {    
    border-top:  2px solid #e5e5e5;;
    border-bottom: 2px solid #fff;
}
.input_disabled {
    disabled:true;
} 

.input_resize{
    width: 95%;
}

label.valid {
    width: 24px;
    height: 24px;
    background: url(../img/tick.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.navbar-inverse .navbar-link, .navbar-inverse .navbar-text, .navbar-inverse .nav>li>a{
    color: #FFFFFF;
    font-weight: bold;
    
}

#history{
    margin-top: 3em;
    background-image: url("../img/scroll.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#sinopsis1 > p{

    color: #330000;
    font-family:Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 1.7vw;
    width: 50%;
    padding-left: 13em;
    padding-top: 2em;
    padding-bottom: 3em;
}

#sinopsis1>h1{
    color: #330000;
    padding-top: 1.8em;
    padding-left: 1em;
    font-family:Times New Roman;
    text-shadow: 1px 1px  black;
    font-weight: bold;
    font-style: italic;
    font-size: 4vw;
}


#historyp{
    margin-top: 3em;
    background-image: url("../img/scroll.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#sinopsis2 > p{

    color: #330000;
    font-family:Times New Roman;
    font-weight: bold;
    font-style: italic;
    width: 50%;
    padding-left: 14em;
    padding-top: 2em;
    padding-bottom: 3em;
}

#sinopsis2>h1{
    color: #330000;
    padding-top: 1em;
    font-family:Times New Roman;
    text-shadow: 1px 1px  black;
    font-weight: bold;
    font-style: italic;
    font-size: 4vw;
}


.portfolio-item, .img-portfolio {
    margin: 1em 1em 1em 4em;
    padding: 3em;
    width: 350px;
    height: 250px;
}


.pictures{
    margin-right: 15vw;
}

#trailer{
    margin: 5em 0;
}


video{
    width: 40em;
    height:20em; 
}

#video1{
    margin-left: 5em;
}
#canvasdiv{
    margin-left: 8em;
}
#canvas{
    background-image: url('../img/forest.png');
}
#playground{
    margin-left: 12em; 
    width: 800px; height: 450px; 
    background-image: url('../img/forest.png'); 
    position: absolute; 
    display: block; 
    overflow: hidden; 
    background-position: initial initial; 
    background-repeat: initial initial;
}
#welcomeScreen{
    width: 800px; height: 450px; 
    position: absolute; 
    z-index: 100; 
    background-image: url(../img/logo.png); 
    background-size: 80%;
    left: 6em;
    background-repeat: no-repeat;
    font-family: verdana, sans-serif;
}



#startbutton{
    cursor: pointer;
    color: #cc6600;
    font-weight: bold;
    font-style: italic;
    font-size: 4vw;
    font-family: verdana;
    
}
#start{
position: absolute; 
top: 320px; 
width: 20em;
left: 8em;
}


#gQ_scenegraph{
    visibility: hidden
}
.gQ_group{
    position: absolute; 
    display: block; 
    overflow: visible; 
    height: 450px; 
    width: 800px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
}
#background1{
    position: absolute; 
    display: block; 
    overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#background2{
    position: absolute; display: block; overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(700px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#background3{
    position: absolute; display: block; overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#background4{
    position: absolute; display: block; overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(700px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#background5{
    position: absolute; display: block; overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#background6{
    position: absolute; display: block; overflow: hidden; 
    height: 450px; width: 800px; -webkit-transform: translate(700px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}

#actors{
    position: absolute; display: block; overflow: visible; 
    height: 250px; width: 700px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
}
#player{
    position: absolute; display: block; overflow: visible; 
    height: 26px; width: 100px; -webkit-transform: translate(350px, 125px) rotate(0deg) scale(1, 1);
}
#playerBoostUp{
    position: absolute; display: block; overflow: hidden; 
    height: 18px; width: 14px; -webkit-transform: translate(37px, 15px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px;
}
#playerBody{
    position: absolute; display: block; overflow: hidden; 
    height: 26px; width: 100px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: no-repeat no-repeat;
}
#playerBooster{
    position: absolute; display: block; overflow: hidden; 
    height: 14px; width: 36px; -webkit-transform: translate(-32px, 5px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px; background-repeat: repeat no-repeat;
}
#playerBoostDown{
    position: absolute; display: block; overflow: hidden;
    height: 18px; width: 14px; -webkit-transform: translate(37px, -7px) rotate(0deg) scale(1, 1); 
    background-position: 0px 0px;
}
#playerMissileLayer{
    position: absolute; display: block; overflow: visible; 
    height: 250px; width: 700px; -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
}